extends layout

block content
    nav.navbar.navbar-default.navbar-static-top
        .container-fluid
            .navbar-header
                button.collapsed.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-8', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') Vanguard
            #bs-example-navbar-collapse-8.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='#') Home
    div.col-sm-12
        h1.align Welcome Ryan!
        h2.align Your Rando Process Value is {{procRando}}
        div.col-sm-12
            h1.align Vanguard Stocks/ETFs
            .row.flexcenter
                .col-sm-2.marginme(ng-repeat="fund in vanguardTickerData")
                    .thumbnail
                        img(src='images/vanguard.jpg', alt='{{fund.tickerCompany}}')
                        .caption
                            h3 {{fund.tickerCompany}}
                            p Ticker: {{fund.tickerName}}
                            p Price: ${{fund.tickerPrice}}
                            p Amount holding: 5
                            p Total Amount: {{fund.tickerTotal}}
            h1.align Other Stocks/ETFS
            .row.flexcenter
                .col-sm-2.marginme(ng-repeat="fund in nonVanguardTickerData")
                    .thumbnail
                        img(src='images/{{fund.tickerCompany}}.png', alt='{{fund.tickerCompany}}')
                        .caption
                            h3 {{fund.tickerCompany}}
                            p Ticker: {{fund.tickerName}}
                            p Price: ${{fund.tickerPrice}}
                            p Amount holding: 5
                            p Total Amount: {{fund.tickerTotal}}
