extends layout

block content
    nav.navbar.navbar-default.navbar-static-top
        .container-fluid
            .navbar-header
                button.collapsed.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-8', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand Vanguard - Portfolio Total : {{portfolioTotal | currency:"$"}}
            #bs-example-navbar-collapse-8.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a Home
                    li.right
                        a Welcome {{currentUser}}!
    div.col-sm-12
        h1.align Vanguard Stocks/ETFs
        .row.flexcenter
            .marginme(ng-repeat="fund in vanguardTickerData")
                .thumbnail
                    img(src='images/{{fund.tickerCompany}}.jpg', alt='{{fund.tickerCompany}}')
                    .caption
                        h3 {{fund.tickerCompany}}
                        p Ticker: {{fund.tickerName}}
                        p Price: {{fund.tickerPrice | currency:"$"}}
                        p Shares: 1,000
                        p Total Amount: {{fund.tickerTotal | currency:"$"}}
        h1.align Other Stocks/ETFS
        .row.flexcenter
            .marginme(ng-repeat="fund in nonVanguardTickerData")
                .thumbnail
                    img(src='images/{{fund.tickerCompany}}.png', alt='{{fund.tickerCompany}}')
                    .caption
                        h3 {{fund.tickerCompany}}
                        p Ticker: {{fund.tickerName}}
                        p Price: {{fund.tickerPrice | currency:"$"}}
                        p Shares: 1,000
                        p Total Amount: {{fund.tickerTotal | currency:"$"}}
    footer.footer
      .container
          p Random Process : {{procRando}}
