body {
  background-color: #eae8e4 !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
    background-color: #902222 !important
}

.navbar-default .navbar-brand {
    color: white !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white !important;
    background-color: #736565 !important;
}

.navbar-default .navbar-nav>li>a {
    color: white !important;
}

.thumbnail {
    height: 26em !important;
    width: 16em !important;
}

.thumbnail > img {
    height: 50% !important;
}

.align {
    text-align: center;
}

.marginme{
    margin: 0.5em;
}

.flexcenter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    text-align: center;
    background-color: #902222;
}

.footer .container p {
    margin: 4px;
    color: white;
}
